<% content_for :title do %>
  <%= t('legal.title') %> | <%= t('title') %>
<% end %>

<% content_for :left do %>
  <div class='legal copyright main'>
    <h3><%= t 'legal.copyright.title' %></h3>
    <p><%=raw t 'legal.copyright.body' %></p>
  </div>
<% end %>

<% content_for :right do %>
  <div class='legal license main'>
    <h3><%= t 'legal.license.title' %></h3>
    <p><%=raw t 'legal.license.body' %></p>
  </div>
<% end %>

