<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('title') %></title>
    <%= csrf_meta_tags %>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <%= favicon_link_tag "favicon.ico" %>
    
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    
    <link href='//fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek,greek-ext' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div class='container'>
      <div class='content'>
        <div class='row'>
          <div class='span12'>
            <%= render :partial => "shared/header" %>
          </div>
        </div>
        
        <div class='row'>
          <div class='span6'>
            <%= content_for?(:left) ? yield(:left) : "" %>
          </div>
          
          <div class='span6'>
            <%= content_for?(:right) ? yield(:right) : "" %>
          </div>
        </div>
        
        <div class='row'>
          <div class='span12'>
            <%= content_for?(:whole) ? yield(:whole) : "" %>
          </div>
        </div>
        
        <div class='row'>
          <div class='span12'>
            <%= render :partial => "shared/footer" %>
          </div>
        </div>
      </div>
    </div><!-- /container -->
    
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
